:root {
	--busPadding: 8px;
	--busMargin: 8px;
	--busStopMargin: 4px;
	--busBackgroundColor: #2b353a;
	--busPaddingVertical: 2px;
	--eventBackDropColor: #1F202B;
	--eventBackgroundColor: #242E40;
	--eventBorderColor: #313F57;
}

@font-face {
    font-family: 'PTSans';
    src: url('../fonts/PTSansNarrow-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PTSansBold';
    src: url('../fonts/PTSansNarrow-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'PTSansMono';
    src: url('../fonts/PTMono-Regular.ttf') format('truetype');
}

html {
    background-color: #000000;
    line-height: 1;
    font-family: Inter, sans-serif;
    font-size: 20pt;
	background-color: var(--eventBackDropColor);
}

.outer {
    width: 100%;
	height: 100%;
    padding: 0;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.subtle {
	text-align: right;
	font-style: italic;
	color: #AAAAAA;
}

.errorMessage {
	margin: auto;
	color: #AAAAAA;
	font-style: italic;
	text-align: center;
}

.invisible {
	color: #00000000;
	visibility: hidden;
	/*font-size: 56pt;*/
	/*background-color: cyan;*/
}


/* events */

#eventCard {
	flex: 1;
}

#abakus {
	flex: 1;
	display: flex;
	justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
	margin-right: 8%;
	margin-left: 8%;
}

.abakusInner {
    /*flex: 1;*/
	width: 46%;
    color: #FFFFFF;
	background-color: var(--eventBackDropColor);
	justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
	font-size: 18pt;
	/*border-radius: 14px;*/
}

.event {
    display: flex;
    font-family: "PTSansBold", serif;
	background-color: var(--eventBackgroundColor);
    margin: 4pt;
    padding: 0pt;
    line-height: 1.3em;
	align-items: center;
	/*height: 4em;*/
    /*border-radius: 14px;*/
	padding: 3px;
	border: 4px solid var(--eventBorderColor);
    margin-top: 12px;
    margin-bottom: 12px;
}

.eventError {
	height: 40em;
}

.eventHeader {
    justify-content: center;
    align-items: center;
    flex: 1; 
    background-color: white;
    margin: 0;
    padding: 0;
	width: 100%;
	/*height: 100%;*/
	object-fit: fill;
	align-content: center;
}

.eventInnerBox {
    min-height: 1em;
}

.eventLeft {
	width: 50%;
	align-items: center;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
}

.eventRight {
	width: 50%;
	align-items: center;
	display: flex;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 4px;
}

#eventInfo {
    flex: 1;
}

#eventHeader {
    margin: auto;
    padding: 0;
}

#eventTitle {
}

#eventCapacity {
}

.eventNotFull {
    color: #46CB18;
}

.eventFull {
    color: red; 
	opacity: 0;
}

.eventEmpty {
    /*color: #rgba(0, 0, 0, 0.5);*/
    color: #777777; 
    opacity: 0;
}

.cancelled {
    color: #fc5f5f;
}

#eventTime {
}

#eventCapacity {
    /* min-height: 1em; */
}


/* date and time banner */

.time {
	font-size: 56pt;
	align-items: center;
	flex: 1;
	/*line-height: 4em;*/
}

.dateTimeOuter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dateTime {
    font-family: Ubuntu Mono;
    text-align: center;
    color: white;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center; /* Ensure content is centered */
    flex-grow: 1; /* Allows it to take available space */
}

.dateTimeOuter {
	width: 100%;
	/*background-color: var(--busBackgroundColor);*/
}

.dateTime {
	justify-content: space-between;
    font-family: ubuntu mono;
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	height: 4em;

	width: 100%;
	text-align: center;
	border-radius: 8px;
	color: white;

	/*background-color: var(--busBackgroundColor);*/
	/*margin: var(--busMargin);*/
}

.logo img {
	height: 2em; /* Adjust as needed */
	margin: 0.5em;
}

#bekkLogo {
    mix-blend-mode: multiply; /* Alternative: use 'lighten' if needed */
	filter: brightness(0) saturate(100%) invert(1);
}

/* bus departures */

#leftColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 26em;
}

#atb {
	/*width: 600px;*/
	/*height: 100%;*/
	display: flex;
	width: 100%;
    /*align-items: center;*/
	justify-content: center;
	color: white;
}

.busCard {
	/*flex-grow: 1;*/
	font-size: 11pt;
	width: 50%;
}

.busStop {
    background-color: var(--busBackgroundColor);
	/*margin: 2px;*/
	/*padding: 3px;*/
	border-radius: 8px;
	margin: var(--busMargin);
	/*padding: var(--busPadding);*/
	margin-left: var(--busStopMargin);
	margin-right: var(--busStopMargin);

}

.busStopHeader{
	display: flex;
	align-items: center;
    justify-content: space-between;

    font-family: ubuntu mono;
    font-weight: bold;
	height: 2em;
	align-items: center;
	margin-left: var(--busMargin);
	margin-right: var(--busMargin);
	padding-top : var(--busPaddingVertical);
	padding-bottom : var(--busPaddingVertical);
}

.busStopName {
}

.busStopDirection {
}

#busDepartureFirst {
    font-weight: bold;
}

.busDeparture {
    display: flex;

	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	margin-right: 0px;

    font-family: ubuntu mono;
	border-top: 1px solid #000000;
	align-items: center;
	height: 2em;
    /* background-color: #555555; */
    /* border-top: white 1pt solid; */
    /* border-top: white 1pt #ffffff; */
	padding-top : var(--busPaddingVertical);
	padding-bottom : var(--busPaddingVertical);
}

#busDepartureTime {
    /*margin-left: auto;*/
	margin-left: var(--busMargin);
	margin-right: var(--busMargin);
}

#busLineNumber {
	display: flex;
	align-items: center;
    justify-content: space-between;

    background-color: #94c20a;
    color: #000000;
    min-width: 3em;
	font-size: 13pt;
    border-radius: 4px;
	height: 1.2em;
    font-weight: bold;
	padding: 0.1em;
	margin-left: var(--busMargin);
	margin-right: var(--busMargin);
}

.busIcon {
	flex: 1;
	width: 40%;
	/*flex-grow: 0;*/
	background-color: #00000000;
	height: 0.8em;
	/*padding-right: 3px;	*/
	border-radius: 0px;
	/*height: 0.6em;*/
	/*max-width: 50%;*/
	/* 	margin-left: auto;*/
	margin: 0.2em;

}

.lineNumber {
	flex: 1;
	/*margin-right: auto;*/
	justify-content: space-between;
	width: 50%;
	text-align: center;
}

.busRoute {
    flex: 1;
}

.bus {
    color: cyan;
}

.busInnerBox {
    /* border: solid 2px black; */
    /*margin: 4px;*/
}

