<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../static/main.css" />
  </head>
  <body>
	<div id="bekkLogo" class="logo">
		<img src="static/icons/Bekk-logo.webp">
	</div>
    <div id="container" class="outer">
		<div id="leftColumn">
			<div class="dateTimeOuter">
				<!--<div id="abakusLogo" class="logo">-->
				<!--	<img src="static/icons/abakule.png">-->
				<!--</div>-->
				<div id="dateTime" class="dateTime">
				</div>
				<!--<div id="bekkLogo" class="logo">-->
				<!--	<img src="static/icons/Bekk-logo.webp">-->
				<!--</div>-->
			</div>
			<div id="atb">
				<div id="busCard1" class="busCard">
				</div>
				<div id="busCard2" class="busCard">
				</div>
			</div>
			<div class="dateTimeOuter">
				<div class="dateTime invisible">
					<h1> 2 </h1>
				</div>
			</div>
		</div>
		<div id="abakus">
			<div id="arrangementCard" class="abakusInner">
			</div>
			<div id="bedpresCard" class="abakusInner">
			</div>
		</div>
    </div>
    <script type="module" src="../../static/datetime.js"></script>
    <script type="module" src="../../static/busData.js"></script>
    <script type="module" src="../../static/eventData.js"></script>
  </body>
</html>
