<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../static/main.css" />
  </head>
  <body>
    <div id="container" class="outer">
		<div id="leftColumn">
			<div id="dateTime">
				<p>69:69</p>
			</div>
			<div id="atb">
				<div id="busCard1" class="busCard">
				</div>
				<div id="busCard2" class="busCard">
				</div>
			</div>
		</div>
		<div id="abakus">
			<div id="arrangementCard" class="abakusInner">
			</div>
			<div id="bedpresCard" class="abakusInner">
			</div>
		</div>
    </div>
    <script type="module" src="../../static/busData.js"></script>
    <script type="module" src="../../static/eventData.js"></script>
  </body>
</html>
